@import "tailwindcss";
@config "../tailwind.config.js";

body {
  background-color: #F4F0E6;
  color: #171717;
  font-family: monospace;
  overflow: hidden;
  user-select: none;
  margin: 0;
  padding: 0;
}
